 <!-- Section About -->
 <section id="about" class="section section-about">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <strong class="section-subtitle">{{  'About.AboutUs' | translate  }}</strong>
          <h2 class="section-title section-about-title">{{  'About.Title' | translate  }}</h2>
          <p>{{  'About.Description.PhraseOne'  | translate  }}</p>
          <p>{{  'About.Description.PhraseTwo'  | translate  }}</p>
          <p>{{  'About.Description.PhraseTree' | translate  }}</p>
          <p>{{  'About.Description.PhraseFour'  | translate  }}</p>
          <p>{{  'About.Description.PhraseFive' | translate  }}</p>
          <img alt="" class="fsc-img img-responsive" src="assets/images/about-us/forests-for-all-forever.png">
          <div class="experience-box">
            <div class="experience-border"></div>
            <div class="experience-content">
              <div class="experience-number">{{  'About.YearsExperience.Years'  | translate  }}</div>
              <div class="experience-info">{{  'About.YearsExperience.DescriptionYearsExperience.WordOne'  | translate  }}<br>{{  'About.YearsExperience.DescriptionYearsExperience.WordTwo'  | translate  }}<br>{{  'About.YearsExperience.DescriptionYearsExperience.WordTree'  | translate  }}</div>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <div class="dots-image">
            <img alt="" class="about-img img-responsive" src="assets/images/about-us/about-us.jpg">
            <div class="dots"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section bg-dots">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="section-info">
            <div class="title-hr wow fadeInLeft"></div>
            <div class="info-title">{{  'WhatWeDo.WhatWeDo'  | translate  }}</div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="row-services row">
            <div class="col-service col-sm-6 col-lg-4 wow fadeInUp">
              <span class="text-dark icon icon-apartment"></span>
              <h4>{{  'WhatWeDo.Quality.Quality'  | translate  }}</h4>
              <p>{{  'WhatWeDo.Quality.Description.DescriptionOne'   | translate  }}</p>
              <p>{{  'WhatWeDo.Quality.Description.DescriptionTwo'   | translate  }}</p>
              <p>{{  'WhatWeDo.Quality.Description.DescriptionTree'  | translate  }}</p>
              <p>{{  'WhatWeDo.Quality.Description.DescriptionFour'   | translate  }}</p>
            </div>
            <div class="col-service col-sm-6 col-lg-4 wow fadeInUp" data-wow-delay="0.4s">
              <span class="text-dark icon icon-couch"></span>
              <h4>{{  'WhatWeDo.Project.Project'  | translate  }}</h4>
              <p>{{ 'WhatWeDo.Project.Description.DescriptionOne'   | translate  }}</p>
              <p>{{ 'WhatWeDo.Project.Description.DescriptionTwo'   | translate  }}</p>
            </div>
            <div class="clearfix visible-sm visible-md"></div>
            <div class="col-service col-sm-6 col-lg-4 wow fadeInUp" data-wow-delay="0.8s">
              <span class="text-dark icon icon-pencil-ruler"></span>
              <h4>{{  'WhatWeDo.Price.Price'  | translate  }}</h4>
              <p>{{  'WhatWeDo.Price.Description.DescriptionOne'   | translate  }}</p>
              <p>{{  'WhatWeDo.Price.Description.DescriptionTwo'   | translate  }}</p>
              <p>{{  'WhatWeDo.Price.Description.DescriptionTree'  | translate  }}</p>
              <p>{{  'WhatWeDo.Price.Description.DescriptionFour' | translate  }}</p>
              <p>{{  'WhatWeDo.Price.Description.DescriptionFive'  | translate  }}</p>
            </div>
            <div>
                <p>
                  <br>{{  'WhatWeDo.Description.DescriptionOne'  | translate  }}
                  <br>{{  'WhatWeDo.Description.DescriptionTwo'  | translate  }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>



  </section>
