<!-- Section Clients -->
<section id="clients" class="section-clients section bg-dots">



  <div class="container">
    <h2 class="section-title">{{  'CustomerTestimonials.Title'  | translate  }}</h2>

    <owl-carousel [options]="carouselCustomer" [items]="customerTestimonials"
      [carouselClasses]="['owl-theme', 'row', 'sliding']">
      <div class="item client-carousel" *ngFor="let customer of customerTestimonials;let i= index">

          <div class="client-carousel-item">
            <img alt="" class="client-img" src="images/clients/microsoft.png">
            <div class="client-box">
              <img alt="" class="image-quote" src="images/image-icons/icon-quote.png">
              <div class="client-title">
                <span class="client-name">{{  customer.contactName  }}</span>
                <span class="client-company">{{  customer.jobRole  }}</span>
              </div>
              <p class="client-description">
                {{  'CustomerTestimonials.ClientOne.Paragraph.One'  | translate  }}
              </p>

            </div>
          </div>




      </div>
    </owl-carousel>


  </div>

</section>
