<section id="projects" class="section-projects section">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
         <h2 class="section-title">Latest Projects</h2>
      </div>
      <div class="col-lg-7">
        <div class="filter-content">
          <ul class="filter-carousel filter pull-lg-right js-filter-carousel">
            <li class="active"><a href="#" class="all" data-filter="*">All</a></li>
            <li><a href="#" data-filter=".residence">{{  'LatestProjects.type.Residential'   | translate  }}</a></li>
            <li><a href="#" data-filter=".store">{{  'LatestProjects.type.Store'   | translate  }}</a></li>
            <li><a href="#" data-filter=".hotel">{{  'LatestProjects.type.Hotel'   | translate  }}</a></li>
            <li><a href="#" data-filter=".shopping">{{  'LatestProjects.type.Shopping'   | translate  }}</a></li>
            <li><a href="#" data-filter=".building">{{  'LatestProjects.type.Building'   | translate  }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <app-projects-latest></app-projects-latest>

</section>
